{{#each this}}
    <div class="photo-card">
        <div class="image-thumb">
            <img src="{{webformatURL}}" alt="{{tags}}" loading="lazy" class="image" />
        </div>
        <div class="info">
            <p class="info-item">
                <b class="info-subtitle">Likes <span class ="info-text">{{likes}}</span> </b>
            </p>
            <p class="info-item">
                <b class="info-subtitle">Views <span class ="info-text">{{views}}</span></b>
            </p>
            <p class="info-item">
                <b class="info-subtitle">Comments <span class ="info-text">{{comments}}</span></b>
            </p>
            <p class="info-item">
                <b class="info-subtitle">Downloads <span class ="info-text">{{downloads}}</span></b>
            </p>
        </div>
    </div>
{{/each}}